mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin_thumb(style=`background-image:url(${"/" + video.thumbUrl})`)
        div.video-mixin_data
            span.video-mixin_title=video.title
            div.video-mixin_meta
                span #{video.owner.name} • 
                span #{video.meta.views} 회
            ul.hashtag
                each hashtag in video.hashtags
                    li=hashtag