mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        figure
            div.video-mixin-thumb(style=`background-image:url(${"/" + video.thumbUrl})`)

            figcaption 
                div.video-mixin-avatar
                    if !video.owner.avatarUrl
                        p.avatar-img.no-img
                        
                    else
                        if video.owner.avatarUrl[0]==="h"
                            img(src=video.owner.avatarUrl, crossorigin).avatar-img
                        else
                            img(src="/" + video.owner.avatarUrl, crossorigin).avatar-img

                div.video-mixin-data
                    span.video-mixin-user #{video.owner.name}
                    h2.video-mixin-title=video.title
                    div.video-mixin-meta
                        span #{video.meta.views} 회
                        span #{new Date(video.createdAt).toLocaleDateString("ko-kr")}
                    ul.video-mixin-hashtag
                        each hashtag in video.hashtags
                            li=hashtag