extends base.pug

block content
  main
    section.row.basic-form-container
      if errorMessage
        div.message.error
          span=errorMessage


      form(method="POST", enctype="multipart/form-data").basic-form.profile-form
        legend
          span 
            span #{loggedInUser.name}
            | 의 
            span.eng Profile
        fieldset 
          div.profile-avatar
            div.user-avatar
              if !loggedInUser.avatarUrl
                img(src="/noimg.jpg", alt="").avatar-img#images
                  
              else
                if loggedInUser.avatarUrl[0]==="h"
                  img(src=loggedInUser.avatarUrl, crossorigin).avatar-img#images
                else
                  img(src="/" + loggedInUser.avatarUrl, crossorigin).avatar-img#images

            p.avatar-edit
              label(for="avatar").material-icons.hover-link settings
              input(type="file" id="avatar", name="avatar", accept=".png, .jpg, jepg")
          

          div.basic-form-info
            div.input-inner
              label(for="name") 닉네임
              input(name="name", id="name", type="text", required, placeholder="name" value=loggedInUser.name)

            div.input-inner
              label(for="username") 아이디
              input(name="username", id="username", type="text", placeholder="username" value=loggedInUser.username, disabled)

            div.input-inner
              label(for="email") 이메일
              input(name="email", id="email", type="email", required, placeholder="email" value=loggedInUser.email)

            div.input-inner
              label(for="location") 사는 곳
              input(name="location", id="location", type="text", required, placeholder="location" value=loggedInUser.location)

            div.input-inner
              label(for="word") 소개글
              textarea(name="word", id="word", required, placeholder="200자까지 입력할 수 있어요.", maxlength="200") #{loggedInUser.word}

            input(type="submit" value="수정하기").hover-link

            if !loggedInUser.socialOnly
              div.profile-password
                a(href="change-password").button-eff 비밀번호 변경