extends base

block content 
  main
    section.row.basic-form-container
      if errorMessage
        div.message.error
          span=errorMessage

      form(method="POST").basic-form
        legend
          span 
            span #{pageTitle}

        fieldset 
          div.basic-form-info
            div.input-inner
              label(for="title")
              input(placeholder="Title", required, type="text", name="title", value=video.title, maxlength=80, id="title")

            div.input-inner
              label(for="description")
              textarea(placeholder="Description", required, name="description", minlength=20, id="description") #{video.description}

            div.input-inner
              label(for="hashtag")
              input(placeholder="Hashtags, separated by comma", required, type="text", name="hashtags", value=video.hashtags.join(), id="hashtag")

            input(value="수정하기", type="submit").hover-link