extends base

block content 
  section#videoContainer(data-id=video._id).row
    video(src="/" + video.fileUrl)
    div#videoControls.videoControls
      button#play.material-icons play_arrow

      div.controls_time
        span#currentTime 00:00 
        span / 
        span#totalTime 00:00
        input(type="range", step="1", value=0, min="0")#timeLine

      div.controls_volume
        button#mute.material-icons volume_up
        input(type="range", step="0.1", value=0.5, min="0", max="1")#volume.material-icons
      
      div 
        button#fullScreen.material-icons fullscreen
    
  div.cont
    h2 #{pageTitle}
  
  //-
    div
      p=video.description
      small=video.createdAt
      
    div 
      small Uploaded by 
        a(href=`/users/${video.owner._id}`) #{video.owner.name}
    if String(video.owner._id) === String(loggedInUser._id)
      a(href=`${video.id}/edit`) Edit Video &rarr;
      a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
  script(src="/static/js/videoPlayer.js")