extends base
include mixins/video

block content 
  main.container#watch
    section.watch-container
      article#videoContainer(data-id=video._id)
        video(src=video.fileUrl, crossorigin)
        div#videoControls.videoControls
          div.controls_time
            input(type="range", step="1", value=0, min="0")#timeLine
            div.time
              span#currentTime 00:00  
              span / 
              span#totalTime  00:00
          
          div.controls
            button#play.material-icons play_arrow
            
            div.controls_volume
              button#mute.material-icons volume_up
              input(type="range", step="0.1", value=0.5, min="0", max="1")#volume.material-icons
          
            div.fullscreen
              button#fullScreen.material-icons fullscreen
        
      article.uploader-wrap
        div.upload-title
          ul.hashtag
            each hashtag in video.hashtags
                li=hashtag

          h2 #{pageTitle}

        div.upload-info
          p.views
            span.material-icons visibility
            span #{video.meta.views} views
          p
            span.material-icons schedule
            span #{video.createdAt.toLocaleString("ko-KR", { timeZone: 'UTC' })}

        div.description
          p #{video.description}

        div.uploader-info
          a(href=`/users/${video.owner._id}`).uploader-link
            div.user-avatar
              if !video.owner.avatarUrl
                p.avatar-img.no-img
                  
              else
                if video.owner.avatarUrl.includes("github")
                  img(src=video.owner.avatarUrl, crossorigin).avatar-img
                else
                  img(src=video.owner.avatarUrl, crossorigin).avatar-img
              
            div.user-meta #{video.owner.name}
              
          
          
          div.edit-btn
            if String(video.owner._id) === String(loggedInUser._id)
              a(href=`${video.id}/edit`) 
                span.material-icons edit
                span.eng Edit Video
              a(href=`${video.id}/delete`)
                span.material-icons delete 
                span.eng Delete Video

    section.comment-container
      h2.eng COMMENT

      article.comment-output-container
        each comment in video.comments.reverse()
          div.comment-output-inner(data-id=comment._id)
            a(href=`/users/${comment.owner._id}`)
              div.comment-avatar
                div.profile-image
                  if !comment.ownerAvatar
                    p.avatar-img.no-img
                    
                  else
                    if comment.ownerAvatar[0]==="h"
                      img(src=comment.ownerAvatar, crossorigin).avatar-img
                    else
                      img(src="/" + comment.ownerAvatar, crossorigin).avatar-img

                div.comment-info
                  p #{comment.ownerName}
                  span.comment-date #{new Date(comment.createdAt).toLocaleString("ko-kr")}

            p.comment-cont #{comment.text}
            if String(comment.owner) === String(loggedInUser._id)
              span.delete-comment.material-icons.hover-link close

      if loggedIn
        article.comment-write-container
          form.video-comment-form#commentForm
            textarea(placeholder="Write a nice commment...")
            button.hover-link.material-icons send
      else 
        article.comment-write-container
          form.video-comment-form#commentForm
            textarea(placeholder="Please Log In", disabled)
            button.hover-link.material-icons(disabled) send



block scripts 
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js")
  script(type="text/javascript").
