header 
  h1 
    a(href="/home") 
      img(src="/hogwarts.png", alt="호그와트 로고")
      span.eng #{siteName}
  
  div.search-wrap
    form(method="GET" action="/search")
      input(placeholder="검색어를 입력하세요. ex)스네이프 재수없음, 해리포터 나대지마라", type="text", name="keyword")
      input(type="submit", name="" value="Search now").hover-link.eng
  
  nav 
    ul.nav
      li.search-icon
        a(href="/search")
          i.material-icons search
          span.eng Search
        
      if loggedIn
        li.login
          if !loggedInUser.avatarUrl
            p.avatar-img.no-img
            
          else
            if loggedInUser.avatarUrl.includes("github")
              img(src=loggedInUser.avatarUrl, crossorigin).avatar-img
            else
              img(src=loggedInUser.avatarUrl, crossorigin).avatar-img

          a(href="javascript:void(0)")
            span #{loggedInUser.name}
            i.material-icons expand_more
            
        li.notifications
          a(href="javascript:void(0)")
            i.material-icons notifications
      else
        li
          a(href="/join")
            i.material-icons person_add
            span.eng Join
        li
          a(href="/login")
            i.material-icons login
            span.eng Login
          
    ul.drop-menu
      li 
        a(href="/videos/upload").eng
          span.material-icons upload
          | Upload Video
      
      li 
        a(href="/videos/recorder").eng
          span.material-icons radio_button_checked
          | Video Recorder

      li 
        a(href=`/users/${loggedInUser._id}`).eng
          span.material-icons account_circle 
          | My Channel
      li
        a(href="/users/edit")
          span.material-icons manage_accounts
          | 폴리주스 마법약
      li 
        a(href="/users/logout")
          span.material-icons logout 
          | 마법의 장난 끝
  //- div.hamburger
  //-   span 
  //-   span 
  //-   span
div.overlay
