include ../partials/head
include ../mixins/video.pug

body.common#channel-wrap
  include ../partials/cursor
  //- include ../partials/loading
  include ../partials/header

  main#channel
    section.user-infomation
      div.profile-img
        if !user.avatarUrl
          div(style=`background-image:url(/profile-img.jpg)`)
            
        else
          if user.avatarUrl[0]==="h"
            img(src=`background-image:url(${user.avatarUrl})`)
          else
            div(style=`background-image:url(${"/" + user.avatarUrl})`)
        

      div.profile-data
        div.data-text
          h4.eng #{siteName}
          h3 #{user.name}의 채널
          p #{user.word}

    //- 동영상 출력
    section.video-infomation
      h3 #{user.name}
        span.eng  upload video
      each videoColumn in user.videos
        +videoColumn(videoColumn)
      else
        div.not-found
          img(src="/death_eaters.jpg", alt="죽음을 먹는 자")
          span.eng Something Wrong.
            br
            | Someone used Deletrius.
    

script(src="/static/js/main.js")
script(src="/static/js/cursor.js")
